@import "tailwindcss" theme(static);
@import "@nuxt/ui";

@layer base {
  button,
  [role="button"] {
     @apply cursor-pointer;
     @apply disabled:cursor-not-allowed;
  }
}

@theme static {
  --ui-secondary: #fdf4d9;
  --ui-success: #62ba6d;
  --ui-info: #6983fd;
  --ui-warning: #f59e0b;
  --ui-error: #e1427d;
  --ui-text: #57315c;
  --ui-text-dimmed: #9d4fb9;
  --ui-bg-elevated: #cac2ad;
  --ui-bg-inverted: #f9e29b;
  --font-sans: "Capriola", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --color-primary: #ec675b;
  --color-secondary: #f4c153;
  --text-color-highlighted: #56325b;
  --background-color-default: #fdf4d9;
  --ring-color-accented: #fdf4d9;
  --ui-radius: .25rem;

  --text-xs: 1rem;
  --text-xs--line-height: calc(1 / 1);
  --text-sm: 1.2rem;
  --text-sm--line-height: calc(1.25 / 1);
  --text-base: 1.3rem;
  --text-base--line-height: 1.6;
  --text-lg: 1.4rem;
  --text-lg--line-height: calc(1.75 / 1.125);
  --text-xl: 1.8rem;
  --text-xl--line-height: calc(1.75 / 1.25);
  --text-2xl: 2.4rem;
  --text-2xl--line-height: calc(2 / 1.5);
}

@layer theme {
  :root, :host, .light, .dark {
    --radius-xs: calc(var(--ui-radius) * 1);
    --radius-sm: var(--ui-radius * 2);
    --radius-md: calc(var(--ui-radius) * 4);
    --radius-lg: calc(var(--ui-radius) * 6);
    --radius-xl: calc(var(--ui-radius) * 8);
    --radius-2xl: calc(var(--ui-radius) * 10);
    --radius-3xl: calc(var(--ui-radius) * 12);
    --default-font-family: var(--font-sans);
    --default-mono-font-family: var(--font-mono);
    --color-success: var(--ui-success);
    --color-info: var(--ui-info);
    --color-warning: var(--ui-warning);
    --color-error: var(--ui-error);
    --text-color-dimmed: var(--ui-text-dimmed);
    --text-color-default: var(--ui-text);
    --text-color-inverted: var(--ui-text-inverted);
    --background-color-elevated: var(--ui-bg-elevated);
    --background-color-accented: var(--ui-bg-accented);
    --background-color-inverted: var(--ui-bg-inverted);
  }
}

html, body {
    height: 100%;
    background: linear-gradient(to bottom, #f5c95a, #f1a097);
}

button.bg-success, button.bg-error, button.bg-warning, button.bg-info, button.bg-primary {
    position: relative;
}

.hover\:bg-success\/75 {
    background-color: var(--color-success) !important;
}

.hover\:bg-error\/75 {
  background-color: var(--color-error) !important;
}

.hover\:bg-warning\/75 {
  background-color: var(--color-warning) !important;
}

.hover\:bg-info\/75 {
  background-color: var(--color-info) !important;
}

.hover\:bg-primary\/75 {
  background-color: var(--color-primary) !important;
}

button.bg-success.disabled\:opacity-75:disabled {
  opacity: 1 !important;
  background-color: color-mix(in oklab, var(--color-success) 50%, lightgrey) !important;
  color: #eeeeee;
}

button.bg-success.disabled\:opacity-75:disabled::after {
  background-color: color-mix(in oklab, var(--color-success) 70%, lightgrey) !important;
}

button.bg-success::after, button.bg-error::after, button.bg-warning::after, button.bg-info::after, button.bg-primary::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: 15px;
    border-radius: 16px;
    z-index: -1;
}

button.bg-success::after {
    background: color-mix(in oklab, var(--color-success) 90%, black);
}

button.bg-error::after {
    background: color-mix(in oklab, var(--color-error) 90%, black);
}

button.bg-warning::after {
    background: color-mix(in oklab, var(--color-warning) 90%, black);
}

button.bg-info::after {
    background: color-mix(in oklab, var(--color-info) 90%, black);
}

button.bg-primary::after {
    background: color-mix(in oklab, var(--color-primary) 90%, black);
}